body{
    background-image: url("back.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 10rem;
    width:100%;
}
.navigation{
    position: absolute;
    margin-right:60rem;
    flex-direction: column;
    justify-content: left;  
}

.links{
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s linear
}
ul{
    list-style:none;
    background-color: black;
}

.links a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem;
    transition: var(--transition);
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
  }

.show-links{
    overflow: visible;
    background-color: black;
    border:#41fc97
}
.nav-toggle{
    transform: rotate(20deg);
    cursor: pointer;
    border:0;
    background-color: transparent;
}

.nav-toggle:hover{
    transform: rotate(0deg);
}
.main-page{
    z-index: 10;
    height: 100%;
}
.home-page{
    display:flex;
    justify-content: center;
}
.modal-page{
    left:0;
    top:0;
    background-color: rgb(90,75,75,50%);
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn{
    position: fixed;
    background-color: rgb(255, 238, 204);
    cursor: pointer;
    border:0;
  	background-color: #41fc97;
    color: white;
  	padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
}

.close-btn:hover{
    color:#5a4b4b;
    
}


img{
    object-fit: cover;
}
.show-modal{
    visibility: visible;
    z-index: 30;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 20rem;
}

.logo:hover{
    transform: rotate(10deg);
}
.main-title{
    width: 40rem;
}

.main-body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-text{
    width:40rem;
}
.body-btn{
    margin-top: 100px;
    position:absolute;
    width: 10rem;
    height: 2rem;
    border:0;
  	background-color: #41fc97;
  	padding: 5px;
    border-radius: 50%;
    color:white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    box-shadow: 2px 2px 5px 1px rgb(90,75,75,50%);
    
}
.body-btn:hover{
    color:#5a4b4b;
}
.body-bus{
    position: absolute;
    margin-top: 5rem;
}

.body-bus:hover{
    transform: translateX( 50px );
}
.body-image{
    width: 40rem;
}

.time-image{
    width: 50rem;
}

.check-page{
    margin-top: 50px;
    margin-left: 150px;
}